*{
  margin: 0;
  padding: 0;
}

a{
  color: white;
}

body{
  --dark-purple : #421152;
  --purple : #582C5A;
  --vibrant-orange : #FF7000;
  --yellow-orange : #FA8F46;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

p{
  margin-top: 20px;
}

.image{
  position: relative;
  top: 0;
  left: 0;
  width: 550px;
}

.mountain{
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 550px;
}

.odin_logo{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 20px 0px;
  top: 100px;
  background-color: var(--purple);
  opacity: 0.65;
  width: 100%;
  
}
.odin_image{
  height: 100px;
}

@font-face{
  font-family: NorseBold;
  src: url(/fonds/Norse-Bold.otf);
  }

.odin_text{
  font-family: NorseBold;
  font-size: 60px;
  color: white;
}

.image_description{
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 20px;
  font-size: 12px;
  
}

.signup{
  display: flex;
  flex-direction: column;
}

.text{
  padding: 100px 300px 50px 50px;
  color: var(--dark-purple);
  font-weight: bold;
  font-size: 18px;
  
}

fieldset{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 300px 50px 50px;
}


input{
  width: 250px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 5px;
  border: 0.5px solid black;
}

label {
  display: block;
  font-size:12px;
  letter-spacing: 1.5px;
  }



  
