*{
  margin: 0;
  padding: 0;
}

a{
  color: white;
}

body{
  --dark-purple : ;
  --purple : #582C5A;
  --vibrant-orange : #FF7000;
  --yellow-orange : #FA8F46;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  font-size: 18px;
}

p{
  color: var(--purple);
}

.image{
  position: relative;
  top: 0;
  left: 0;
  width: 550px;
}

.mountain{
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 550px;
}

.odin_logo{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 20px 0px;
  top: 290px;
  background-color: var(--purple);
  opacity: 0.8;
  width: 100%;
  
}
.odin_image{
  height: 100px;
}

@font-face{
  font-family: NorseBold;
  src: url(../fonds/Norse-Bold.otf);
  }

.odin_text{
  font-family: NorseBold;
  font-size: 60px;
  color: white;
}

.image_description{
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 20px;
  font-size: 12px;
  
}

.signup{
  display: flex;
  flex-direction: column;
}

.text{
  padding: 80px 300px 50px 50px;
  font-weight: bold;

  background-color: rgb(255, 112, 0, 0.67);
  
}

.top_text{
  margin-bottom: 30px;
}

fieldset{
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 50px;
  border: var(--vibrant-orange);
  box-shadow: 0px 4px 5px -5px grey;
}

.legend{
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;

}

.row{
  display: flex;
}

.entry{
  display: flex;
  flex-direction: column;
  padding-right:50px ;
}


input{
  width: 250px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 5px;
  border: 0.3px solid rgb(198, 197, 197);
}

label{
  font-size:12px;
  letter-spacing: 1.5px;
  }


.submit_button{
  margin-left: 50px;
  margin-top: 30px;
  font-weight: bold;
}

.submit{
  background-color: var(--purple);
  color: white;
  padding: 15px 40px;
  border-radius: 8px;
  border: var(--purple);
  font-size: 19px;
  margin-bottom: 30px;
  
}

.submit_button > p > a {
  color: #FF7000;
  text-decoration: none;
  
}

input:focus{
  outline: none;
  border: 2px solid var(--yellow-orange);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}


.wrong_pass{
  border: 2px solid red;
}

.error_message {
  display: none;
  color: red;
  font-size: 12px;
}


  
  